.git
.dart_tool
.flutter_web_temp
.idea
.venv
.vscode
android/.gradle
android/app/debug
android/app/profile
android/app/release
build
coverage
review_input
temp
*.jks
*.keystore
*.log
.env
supabase/functions/.env.local